
<a href="https://colab.research.google.com/github/michalis0/DataMining_and_MachineLearning/blob/master/Assignment1/Assignment1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Data Mining and Machine Learning - Assignment 1

> Topics Covered: Data Cleaning, Exploratory Data Analysis, Visualization and Regression 1 and 2 (up to and including week 5)

**Due: Sunday November 7, 23.59pm**


This assignment is the opportunity to apply the different concepts seen in class so far to a new dataset on the sales of a store.

Run the first few cells to load the dataset and then get started with the questions! 

To complete the assignment you have to do ***both***:

1. Complete the exercises and submit [your Python notebook](https://moodle.unil.ch/mod/assign/view.php?id=841447)
2. Answer the questions to [the quiz on Moodle](https://moodle.unil.ch/mod/quiz/view.php?id=1172387) 
>Note: You can only complete the quiz one time. Have your notebook with the asnwers ready for answering the quiz. 

The answers to the quiz should be supported by your code in the notebook. If they are not, you will not receive points for them.

**IMPORTANT!** You can discuss the questions with other students but **do not exchange code!** This is individual work. We will run your code and check for similarities.

You can post your questions in slack [channel #assignments](https://app.slack.com/client/T02C4KVGVMX/C02BBA2TFQF).


If there is need for further clarifications on the questions, after the assignment is released, we will update the file on GitHub, so make sure you check the git repo of the class for updates.

Good luck!

In [2]:
# Import required packages

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline
sns.set_style("whitegrid")

In [3]:
# Load the data
df=pd.read_csv('https://raw.githubusercontent.com/michalis0/DataMining_and_MachineLearning/master/data/sales.csv')

For the first part we use data on the retail sales of a store over several years. The dataset includes information on items purchased from this store, including for each item or article:
* order ID (a unique identifyier of the order through which this item was purchased)
* date of the order
* date the shipment was made
* mode of shipment used (first class, second class, etc.)
* customer ID (unique identifyier of the client)
* customer name
* client segment (consumer, corporate, etc.)
* country, city, state, postal code, region of the client
* product ID, product category, sub-category, and product name
* sales value for purchased items in USD.

## 1. Understand and Clean the Dataset

>1.1 Show the first 5 or 10 rows to get an idea of the data.

In [4]:
# YOUR CODE HERE
df.head(10)

   Row ID  ...     Sales
0       1  ...  261.9600
1       2  ...  731.9400
2       3  ...   14.6200
3       4  ...  957.5775
4       5  ...   22.3680
5       6  ...   48.8600
6       7  ...    7.2800
7       8  ...  907.1520
8       9  ...   18.5040
9      10  ...  114.9000

[10 rows x 18 columns]


### 1.2 Describe the dataset.

>1.2.1. How many observations(rows) and columns are in the dataset?

In [5]:
# YOUR CODE HERE
df.shape

(9800, 18)

> 1.2.2. For which variable(s), if any, are there missing/null values?

In [6]:
# YOUR CODE HERE
df.isnull().sum()

Row ID            0
Order ID          0
Order Date        0
Ship Date         0
Ship Mode         0
Customer ID       0
Customer Name     0
Segment           0
Country           0
City              0
State             0
Postal Code      11
Region            0
Product ID        0
Category          0
Sub-Category      0
Product Name      0
Sales             0
dtype: int64

In [7]:
df.isna()

      Row ID  Order ID  Order Date  ...  Sub-Category  Product Name  Sales
0      False     False       False  ...         False         False  False
1      False     False       False  ...         False         False  False
2      False     False       False  ...         False         False  False
3      False     False       False  ...         False         False  False
4      False     False       False  ...         False         False  False
...      ...       ...         ...  ...           ...           ...    ...
9795   False     False       False  ...         False         False  False
9796   False     False       False  ...         False         False  False
9797   False     False       False  ...         False         False  False
9798   False     False       False  ...         False         False  False
9799   False     False       False  ...         False         False  False

[9800 rows x 18 columns]

>1.2.3. Which state generated the highest demand by *number* of items ordered over the entire period?

In [12]:
# YOUR CODE HERE
df2=df.groupby("State", as_index=False)["Row ID"].count()
df2.head(5)
df2[df2['Row ID']==df2['Row ID'].max()]

        State  Row ID
3  California    1946

>... and which state generated the highest demand by total (aggregated) sales over the entire period?

In [17]:
# YOUR CODE HERE
df3=df.groupby("State", as_index=False)["Sales"].sum()
df3.head(49)
df3[df3['Sales']==df3['Sales'].max()]

        State        Sales
3  California  446306.4635

>1.2.4. What percentage of technology items (Hint: look at Category) were shipped first class (Hint: look at Ship Mode)?

In [ ]:
# YOUR CODE HERE

### 1.3. Data types and handling missing values

>1.3.1. List the different features and their data type. ¶

In [ ]:
# YOUR CODE HERE

>1.3.2. Are there any duplicated entries?

In [ ]:
# YOUR CODE HERE

>1.3.3. Change the data type for the following columns: Order Date, Ship Date (from string to datetime), Ship Mode and Segment, from string to category.

In [ ]:
# YOUR CODE HERE

>1.3.4. For which order period have these data samples been collected? (i.e, the oldest and the most recent order dates in the dataset)

In [ ]:
# YOUR CODE HERE

>1.3.5. For the postal code column, drop the missing values and set the data type to an integer and then to a string (make sure the final format of the ZIP code is of this kind: 42420 and not 42420.0).

In [ ]:
# YOUR CODE HERE


## 2. Exploratory Data Analysis and Visualization

>2.1 Which are the top 5 dates on which the store reached the highest *value* of sales over the entire period included in the dataset?

In [ ]:
# YOUR CODE HERE

>2.2 How many unique customers did the shop have over this period?

In [ ]:
# YOUR CODE HERE

>...Plot the top ten customers by total value of their orders in a horizontal bar chart.

In [ ]:
# YOUR CODE HERE

>2.3. What are the most frequently bought product sub-categories ? 
>
> Hint: look at sub-category and count the times they appear in the dataset.

In [ ]:
# YOUR CODE HERE

>...What are the product sub-categories that generated the highest value of sales over the entire period?
>
> Hint: aggregate sales by sub-category.

In [ ]:
# YOUR CODE HERE

>...What was the average purchase price of a phone sold by the store?

In [ ]:
# YOUR CODE HERE

>2.4 Create a new column storing the time difference between Ship Date and Order Date. What was the longest, shortest and the average delivery time difference?

In [ ]:
# YOUR CODE HERE

> 2.5. How many orders (not items) had a delivery time of 6 or more days? 
>
> Hint: you may want to use [`pd.Timedelta()`](https://pandas.pydata.org/docs/reference/api/pandas.Timedelta.html).

In [ ]:
# YOUR CODE HERE

>2.6. What are the average delivery times for each mode of shipment? Take the average over the total number of items ordered (not over the total number of orders).

In [ ]:
# YOUR CODE HERE

>2.7. Create a new column containing the year each order was placed (using Order Date). The plot the number of unique customers per year in a horizontal bar chart.

In [ ]:
# YOUR CODE HERE

>2.8. Churn in 2018 as compared to 2017. Were there any customers in 2017 that the store lost in 2018? If so, how many?

In [ ]:
# YOUR CODE HERE

>2.9. Generate a table with the average sales by customer segment and by year (take the simple average over the number of items sold). Plot in a line chart the average sales by customer segement over time, with the years on x-axis, the average sales on the y-axis, and a line for each segment.

In [ ]:
# YOUR CODE HERE

>2.10. Using `folium`, plot on a map the location of a subset of customers defined below, using circle markers proportionate to the value of their aggregate purchases.
>
> Only include 2018 data for corporate customers with per item purchases above USD 100. 
>
>A separate database with latitude and longitude measures for US zip codes is provided below. Merge the latitude and longitude with your transactions dataset. Make sure to drop any missing values before plotting your map.

In [ ]:
# import required packages
import folium

In [ ]:
# import latitude and longitude data
latlong=pd.read_csv('https://gist.githubusercontent.com/erichurst/7882666/raw/5bdc46db47d9515269ab12ed6fb2850377fd869e/US%2520Zip%2520Codes%2520from%25202013%2520Government%2520Data', 
                    dtype={'ZIP': 'str'})
latlong.head()

In [ ]:
# YOUR CODE HERE FOR SELECTING THE SUBSET

In [ ]:
# YOUR CODE HERE FOR MERGING THE SUBSET WITH THE LATITUDE AND LONGITUDE DATA

In [ ]:
# YOUR CODE HERE FOR GENERATING THE MAP

## 3. Regression Analysis

For this section please work on data aggregated by daily sales in USD. Here we are providing the dataframe for you. The regression dataset contains observations on sales aggregated by day, including:
* the date of the orders
* the number of orders received on that day
* the number of items ordered on that day
* the number of customer segments represented in the orders for that day
* the number of product sub-categories included
* the aggregated value of daily sales in USD
* the year, the month, and the day of the transactions stored separately.

>Load the data.

In [ ]:
#Upload the data
new_data=pd.read_csv('https://raw.githubusercontent.com/michalis0/DataMining_and_MachineLearning/master/data/regression_sales.csv')

>3.1.1. Generate descriptive statistics

In [ ]:
# YOUR CODE HERE

>3.1.2. Plot the distribution of sales per day, using bins=50. Then create a new column equal to the natural logarithm of sales per day and plot its histogram as well.

In [ ]:
# YOUR CODE HERE

>3.1.3. Create a pairplot with the log of sales per day on the horizontal axis and on the vertical axis the number of items ordered and number of orders.

In [ ]:
# YOUR CODE HERE

## Simple Linear Regression

>3.2 Regress log of sales on number of orders, number of items, number of segments, year, month and day.
>
>3.2.1. Select the dependent (y) and the independent variables (X).

In [ ]:
# YOUR CODE HERE
y = 
X =

>3.2.2 Split your dataset into a training set (80%) and a test set (20%). Use sklearn.model_selection.train_test_split() and set the **random_state to 77.**

In [ ]:
# YOUR CODE HERE

>3.2.3 Train a linear regression model on the training data. What is the R^2 score for the test data?

In [ ]:
# YOUR CODE HERE

>3.2.4. Predict what would be the total value of sales in USD on 15 January 2019 assuming there were 3 orders received on that day, including 9 items, from 3 segments.

In [ ]:
# YOUR CODE HERE

## Linear Regression with Standardization

> 3.2.5. Apply a standard scaler to the following columns: number_orders, number_items, number_segments. 
> 
> Hint: use the scaler on the already split data. Fit-transform the scaler on X_train and apply transform on X_test.

In [ ]:
# YOUR CODE HERE

> 3.2.6. Train a linear regression model with the standardised data. What is the R^2 score for the test data?

In [ ]:
# YOUR CODE HERE

> 3.2.7. Predict what would be the total number of sales in USD on 15 January 2019 assuming 3 orders received on that day, including 9 items, from 3 segments

In [ ]:
# YOUR CODE HERE

>3.2.8. Looking at the coefficients from the linear regression with standardization, identify which variable is the most significant in this model.

In [ ]:
# YOUR CODE HERE

> 3.2.9. Calculate the adjusted R-squared and identify the optimum regression coefficients using linear regression with standardisation. 
>
> Hint: calculate the adjusted R-squared for the full model with linear regression and standardisation (as above). The try dropping either one of the columns: 'number_orders', 'number_items', 'number_segments' and recalculate adjusted R-squared for every new model. Identify which combination of features gives the highest adjusted R-squared. 
>
>Check out this documentation file on the [adjusted R-squared](https://www.statology.org/adjusted-r-squared-in-python/).

In [ ]:
# YOUR CODE HERE

Train the model when you drop `number_segments` and calculate the adjusted R-squared.

In [ ]:
# YOUR CODE HERE

Train the model when you drop `number_items` and calculate the adjusted R-squared.

In [ ]:
# YOUR CODE HERE

Train the model when you drop `number_orders` and calculate the adjusted R-squared.

In [ ]:
# YOUR CODE HERE